/* main styling */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    min-height: 100vh;
}

/* heading styling */

#mainHeadingContainer {
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
}

h1 {
    text-align: center;
    font-size: clamp(16px, 10vw, 70px);
    color: rgb(58, 58, 58);
}

/* Input section styling */

#createTask {
    display: flex;
    height: 5vw;
    max-height: 40px;
    min-height: 20px;
    margin-top: 1rem;
}

input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#taskInput {
    flex: 1 1 60vw;
    margin-right: 0.5rem;
    background-color: rgb(58, 58, 58);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: clamp(10px, 2vw, 20px)
}

#dueInput {
    flex: 1 40vw;
    margin-right: 0.5rem;
    background-color: rgb(58, 58, 58);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: clamp(10px, 2vw, 20px)
}

#submitTask {
    flex: 1;
    width: auto;

}

/* task styling */
.taskList{
    padding: 1rem;
}

h2 {
    text-align: center;
    font-size: clamp(12px, 4vw, 40px);
    color: rgb(230, 230, 230);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 230, 230);
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-top: 1rem;
}

#tasks .task .content1 {
    flex: 1;
}

.task .actions button{
    cursor: pointer;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content1 .text {
    width: 100%;
    cursor: pointer;
}
