/* main styling */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    min-height: 100vh;
}

/* heading styling */

#mainHeading {
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
}

h1 {
    text-align: center;
    font-size: clamp(16px, 10vw, 70px);
    color: rgb(58, 58, 58);
}



#createTask {
    display: flex;
    height: 5vw;
    max-height: 40px;
    min-height: 20px;
    margin-top: 1rem;
}

input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#taskInput {
    flex: 1 1 60vw;
    margin-right: 0.5rem;
    background-color: rgb(58, 58, 58);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: clamp(10px, 2vw, 20px)
}

#dueInput {
    flex: 1 40vw;
    margin-right: 0.5rem;
    background-color: rgb(58, 58, 58);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: clamp(10px, 2vw, 20px)
}

#submitTask {
    flex: 1;
    width: auto;

}


/* Input section styling */